body {
    background-color: black;
}

#container {
    background-color: white;
    display: flex;
    /* Justify alinha os itens na horizontal (esquerda para direita) */
    justify-content: space-between;
}

.quadrado {
    height: 200px;
    width: 200px;
    background-color: yellowgreen;
    border: 1px black solid;
}